<header>
  <span class="title">taga3s/monkey-rs</span>
  <a href="https://github.com/taga3s/monkey-rs" class="github">github</a>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px 28px;
    background: var(--color-kachi);
  }
  .title {
    color: var(--color-haizakura);
    font-size: large;
    font-weight: bold;
  }
  .github {
    color: var(--color-haizakura);
  }
</style>
