---
import GithubIcon from "./icons/github.astro";
---

<header>
  <span class="title">taga3s/monkey-rs</span>
  <a href="https://github.com/taga3s/monkey-rs" class="github" target="_blank" rel="noopener noreferrer">
    <GithubIcon />
  </a>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 28px;
    background: var(--color-kachi);
  }
  .title {
    color: var(--color-haizakura);
    font-size: large;
    font-weight: bold;
  }
  .github {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-haizakura);
    transition: opacity 0.2s ease;
  }
  .github:hover {
    opacity: 0.7;
  }
</style>
